<%@movies.each do |m|%>
   <p> <a href="/movies/<%=m.slug%>"> <%=m.name%> </a> Added by - <%=m.user.username%> </p> <br>
<%end%>

<br>

<% if flash.has?(:message) %>
    <%= flash[:message] %>
<% end %>