Add your movie! Wow, we have so many features!:

<br>

<form action='/movies' method="post">
  Name:<input type="text" name="movie[name]"><br>
  Director:<input type="text" name="movie[director]"><br>
  Genre:<input type="text" name="movie[genre]"><br>
  Release Date:<input type="text" name="movie[release_date]"><br>
  <input type="submit" name="submit">
</form>

<br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>