<form action="/users/login" method="post">
    <h5>Please Sign In:</h5>
    Username:<input type="text" name="username">
    Password:<input type="password" name="password">
    <input type="submit" value="Login">
    </form>

    <br><br>

    or, create a new profile:<br>
    <a href="/users/new">Join Movie(tm) Database! For Free! Click Here!</a>

