Create a profile:

<form action="/users/new" method="post">
    Username:<input type="text" name="user[username]"><br>
    Password:<input type="text" name="user[password]"><br>
    <input type="submit" name="submit">
</form>