<%if @user == @current_user%>
     <h1>Your Movies</h1>
<%else%>
    <h1> <%=@user.username%> </h1>
<%end%>

<%@user.movies.each do |m|%>
    <a href="/movies/<%=m.slug%>"><%=m.name%></a><br>
<%end%>

<br><br>

<%if @user == @current_user%>
  <a href="/users/<%=@user.slug%>/edit"><button>Edit Your Profile</button></a>
<%end%>
<%if @user == @current_user%>
  <a href="/movies/new"><button>Add a Movie</button></a>
<%end%>
