<form>
    <h5>Please Sign In:</h5>
    Username:<input type="text" name="user[name]">
    Password:<input type="text" name="user[password]"><br>

    <br>

    or, create a new profile:<br>
    <a href="/users/new">Join Movie(tm) Database! For Free! Click Here!</a>
